%h1= @user.name
%table.profile
  %tr
    %td.main
      - unless @user.posts.empty?
        %table.posts{:summary => "User posts"}
          = render @posts
        = will_paginate @posts
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong Posts
      = @user.posts.count